# This is a comment
# Following paths need to be defined here

PSM_CREATE=node utils/psm-creator.js
SECURE_BOOT2=node utils/secure-boot2.js
BOOT2_IMG=sample-data/boot2.bin

# variable (option1,option2..)
# options - 
# 		discard - Don't put this column into mfg.bin
#		id - Use this column as ID to name mfg-<id>.bin and boot2-<id>.bin
#		hexdata - This column contains hexdata to be converted into binary
# 		process:<exec-path:arg1:arg2...> - Process value using external executable and put output into mfg.bin. Use "$value" as argument where you want to pass value.
#		boot2_pass - This column contains secure boot2 PIN (discard enabled by default)

boot2_pass (boot2_pass)
comment (discard)
