PSM_CREATE=node utils/psm-creator.js
app_hk.num_acc (string)
app_hk.num_serv (string)
app_hk.num_char (string)
app_hk.prov_pin (string)
system.proto_uart_baudrate (string)
system.proto_uart_flow_control (string)
system.proto_uart_id (string)
system.debug_uart_id (string)
system.ble_uart_id (string)
system.ble_uart_baudrate (string)
system.pm_ext_gpio (string)
system.pm_ext_gpio_level (string)
temporary.pin (string)
wlan.region_code (string)
ble.cid (string)
ble.name (string)
ble.ail (string)
jarden.vendorid (string)
hap.acc_info.manufacturer (string)
hap.acc_info.model (string)
hap.acc_info.name (string)
hap.acc_info.serial_no (string)
hap.acc_info.fw_rev (string)
hap.services (string)
acc_info.uuid (string)
acc_info.sid (string)
acc_info.char (string)
acc_info.name.uuid (string)
acc_info.name.property (string)
acc_info.name.iid (string)
acc_info.manufacturer.uuid (string)
acc_info.manufacturer.property (string)
acc_info.manufacturer.iid (string)
acc_info.model.uuid (string)
acc_info.model.property (string)
acc_info.model.iid (string)
acc_info.serial_no.uuid (string)
acc_info.serial_no.property (string)
acc_info.serial_no.iid (string)
acc_info.identify.uuid (string)
acc_info.identify.property (string)
acc_info.identify.iid (string)
acc_info.fw_rev.uuid (string)
acc_info.fw_rev.property (string)
acc_info.fw_rev.iid (string)
acc_info.srv_inst.uuid (string)
acc_info.srv_inst.property (string)
acc_info.srv_inst.iid (string)
pairing.uuid (string)
pairing.sid (string)
pairing.char (string)
pairing.pair_setup.uuid (string)
pairing.pair_setup.property (string)
pairing.pair_setup.iid (string)
pairing.pair_verify.uuid (string)
pairing.pair_verify.property (string)
pairing.pair_verify.iid (string)
pairing.features.uuid (string)
pairing.features.property (string)
pairing.features.iid (string)
pairing.pairings.uuid (string)
pairing.pairings.property (string)
pairing.pairings.iid (string)
pairing.srv_inst.uuid (string)
pairing.srv_inst.property (string)
pairing.srv_inst.iid (string)
proto_info.uuid (string)
proto_info.sid (string)
proto_info.char (string)
proto_info.version.uuid (string)
proto_info.version.property (string)
proto_info.version.iid (string)
proto_info.srv_inst.uuid (string)
proto_info.srv_inst.property (string)
proto_info.srv_inst.iid (string)
fwupg_verification_key (string)
fwupg_encrypt_decrypt_key (string)
fwupg_ota_url (string)
fwupg_xapi_key (string)
homekit.pin (process:node:utils/salt-verifier.js:-p:$value)
